---
layout: default
pagination: 
  enabled: true
---

<div class="projects">
  <h1 class="page-heading">Projects</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p>Categories: <span class="badge"> {{ post.categories }} </span></p>
      </li>
    {% endfor %}
  </ul>
  
  <!-- next prev nav -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Projects</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Projects &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
