---
layout: default
pagination:
  enabled: true
---

<div class="projects">
  <h1 class="page-heading">Projects</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class='post-heading'>
          <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
          <div class="excerpt">{{ post.excerpt }}</div>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class='category-badge'>Categories:
          {% for category in post.categories %}
            {% assign category_url = 'categories#' | append: category %}
            <span class="badge">
              <a href="{{ category_url | absolute_url }}">{{ category }}</a>
            </span>
          {% endfor %}
        </div>
        {% assign tags_length = post.tags | size %}
        {% unless tags_length < 1 %}
          <div class='tag-badge'>Tags:
            {% for tag in post.tags %}
              {% assign tag_url = 'tag/' | append: tag %}
              <span class="badge"><a href="{{ tag_url | absolute_url }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endunless %}
      </li>
    {% endfor %}
  </ul>
</div>


