<div id="header">
  <div class="container">
      <div class="col">
        <a href="{{ site.data.links.github }}">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/github.svg' | relative_url }}" />
          </div>
          <span>GitHub</span>
        </a>
      </div>

      <div class="col">
        <a href="{{ site.data.links.linkedin }}">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/linkedin.svg' | relative_url }}" />
          </div>
          <span>Linked In</span>
        </a>
      </div>

      <div class="col">
        <a href="{{ site.data.links.stackoverflow }}">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/stackoverflow.svg' | relative_url }}" />
          </div>
          <span>Stack Overflow</span>
        </a>
      </div>
  </div>
  <div class="container-sm">
    {% include projects_menu.html %}
  </div>
</div>
