<div id="header">
  <div class="container">

      {% comment %}
      <div class="cs-header-link">
        {% include projects_menu.html %}
      </div>
      {% endcomment %}

      <div class="col">
        <a href="https://github.com/ConorSheehan1">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/github.svg' | relative_url }}" />
          </div>
          <span>GitHub</span>
        </a>
      </div>

      <div class="col">
        <a href="https://www.linkedin.com/in/conor-s-403358106/">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/linkedin.svg' | relative_url }}" />
          </div>
          <span>Linked In</span>
        </a>
      </div>

      <div class="col">
        <a href="https://stackoverflow.com/users/6305204/con?tab=profile">
          <div class="header-icon">
            <img src="{{ '/assets/images/icons/stackoverflow.svg' | relative_url }}" />
          </div>
          <span>Stack Overflow</span>
        </a>
      </div>
  </div>
  <div class="container">
    <div class="cs-header-link">
      {% include projects_menu.html %}
    </div>
  </div>
</div>
