<div class="header-center">
  <input id="projects-search-input" type="text" class="form-control header-left" placeholder="Search projects ..">
  {% comment %}
    <!-- <span class="input-group-btn">
    <button class="btn btn-default" type="button" id="btn-search">Go!</button>
    </span> -->
  {% endcomment %}

  <div id="projects-tree" class="header-right">
    <ul>
      <li data-jstree='{ "opened" : false }'><a class='clickable-tree-node' href="/projects">Projects</a>
        <ul>
          {% for c in site.categories %}
            {% assign category=c[0] %}
            <li>
              {{ category | replace: "_", " " | capitalize }}
              <ul>
                {% assign posts = site.categories[category] | sort: 'date' | reverse %}
                {% for post in posts %}
                  <li><a class='clickable-tree-node' href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>
