---
---

//@import "bootstrap";
// import order must be 1. vars, 2. mixins, 3. everything else
@import "{{ site.theme }}";
@import 'vars';
@import 'mixins';
@import 'mobile';
@import 'header';
@import 'footer';
@import 'theme_toggle';

#projects-tree, #projects-search-input {
  border-radius: 2px;
  border: 1px solid $text_light;
}

#projects-tree {
  padding-right: 1em;
}

#projects-search-input {
  padding: 4px;
}

section #title {
  margin: 0;
  // account for header bottom pad
  padding-top: $header_padding + 5px;;
}

// normal container
.container {
  height: 100%;
  @include containerish;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.back-to-projects {
  float:right;
  font-size: 20px;
  padding-left: 30px;
}

.post-heading {
  margin: 0;
  margin-top: 20px;
}

.excerpt {
  font-size: 15px;
  opacity: 70%;
  margin-top: 0.5em;
}

.icon-size {
  font-size: 32px;
}
