---
---

@import "{{ site.theme }}";

$header_height: 60px;
$icon_size: 32px;
$wide_screen: 700px;
$small_screen: 480px;

@mixin setLinkSelectorStyle {
  &:hover, &:active, &:focus{
    @content;
  }
}

section #title {
  margin: 0;
}

#header {
  width:100%;
  height: $header_height;
  margin: 0 auto;
  padding-top: 10px;
  z-index: 100;
  position:fixed;
  top: 0;

  background: url(../images/nav-bg.gif) #353535; 
  border-top: 4px solid #434343; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

  // center svgs and text in header
  .header-icon {
    width: 100%;
    text-align: center;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  .col-3 {
    margin: $icon_size 2em 0 2em;
  }

  .text-truncate {
    display: block;
    max-width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// keep even space between objects in header
.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: $wide_screen;
}

@media (max-width: $wide_screen) {
  #header{
    // hide the text under icons 
    span {
      display: none;
    }
    // stop aligning other link text with text underneath icona
    .col-3 {
      margin: 0;
    }
  } 
}

/* 
  fix issue with header rendering over content
  now that header is taller, to account for icons
*/
@media (max-width: $small_screen) {
  section {
    margin-top: $header_height;
  }
}





