
footer {
  @include headerFooter;
  position: fixed;
  bottom: 0;
  height: 35px;

  .container {
    display: flex;
  }

  .flex-item {
    flex-grow: 1;
  }

  .pagination {
    text-align: center;
    list-style: none;
    a, span {
      padding: 0.5em;
    }
  }

  #credit-footer {
    margin-left: auto;
    margin-right: 25px;
    order: 2;
  }

  #rss-footer {
    // margin-left: auto;
    margin-right: 25px;
    font-size: 20px;
    order: 3;
  }
}


