#header {
  height: $header_height;
  margin: 0 auto;
  padding-top: 10px;
  z-index: 100;
  position:fixed;
  top: 0;

  @include headerFooter;

  // center svgs and text in header
  .header-icon {
    width: 100%;
    text-align: center;

    svg {
      display: block;
      margin: 0 auto;
    }
  }

  // 4 items in header: 3 * .col, 1 * .cs-header-link
  // 85% taken up, 15% left for margin auto to center items
  .col {
    width: 15%;
    margin: 0 auto;
    text-align: center;
  }

  #theme-toggle-container {
    // override col width
    width: 5%;
  }

  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }

  .text-truncate {
    display: block;
    max-width: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // header container with adjusted height
  .container {
    height: $header_height_internal;
    @include containerish;
  }

  .container-sm {
    @include containerish;
    height: $header_height_internal_sm;
  }

  .header-center {
    // align with section
    margin-left: 22px;
  }

}
