@mixin setLinkSelectorStyle {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin jstreeSearch {
  .jstree-search {
    color: $brand_primary
  }
}

@mixin jstreeClickable {
  .jstree-anchor {
    color: $brand_primary;
    .clickable-tree-node {
      color: $brand_primary;
    }
  }
}

@mixin containerish {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $wide_screen;
}
