// colors (dark/default)
$brand_primary: #ffcc00;
$brand_background: #373737;
$brand_header_footer_background: #353535;

// colors (light)
$brand_background_light: #f2f2f2;
$brand_primary_light: #6cc644;
$text_light: #071601;

// head height vars
$header_height: 90px;
$header_height_internal_sm: 30px;
//$header_height_internal: unquote("#{$header_height} - #{$header_height_internal_sm}");
$header_height_internal: 60px;
$header_padding: 10px;

$icon_size: 32px;
$wide_screen: 700px;
$small_screen: 480px;
