---
layout: default
---
<div class="blog-tags">
  {% assign tags = site.categories | sort %}
  {% for tag in tags %}
  <a href="#{{ tag[0] | slugify }}" class="btn btn-default">
    <span class="fa fa-folder-open" aria-hidden="true" style="padding-right: 10px">
      {{ tag[0] }} <i class="badge">({{ tag | last | size }})</i>
    </span>
  </a>
  {% endfor %}
</div>
<hr/>
<div class="post-preview">
  {% for tag in tags %}
  <h2 id="{{ tag[0] | slugify }}"> {{ tag[0] }} </h2>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>