<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    <link rel="shortcut icon" type="image/x-ico" href="{{ '/assets/images/icons/favicon.ico' | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ 'node_modules/jstree/dist/themes/default/style.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/jstree/dist/themes/default-dark/style.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/lightbox2/dist/css/lightbox.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' | relative_url }}" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="{{ 'node_modules/jquery/dist/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'node_modules/lightbox2/dist/js/lightbox.min.js' | relative_url }}"></script>
    <script src="{{ 'node_modules/jstree/dist/jstree.min.js' | relative_url }}"></script>
    <!-- order matters here. e.g. jstree depends on theme being loaded to provided getSavedTheme -->
    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/lightbox_custom.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jstree_custom.js' | relative_url }}"></script>
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        <div id="title">
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <hr>
        </div>
        {{ content }}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
