---
layout: default
---

<h1>{{ page.title }}
  <span class="back-to-projects">
    <a href="{{'/projects' | relative_url }}">&larr; Back to projects</a>
  </span>
</h1>

{{content}}

<ul>
  {% if page.live %}
  <li id='live-site-link'><a href="{{ page.live }}">View Site</a></li>
  {% endif %}
  <li id='source-code-link'><a href="{{ page.src }}">View Source Code</a></li>
</ul>

<div id="images">
  {% for image in site.data.images[page.project_id] %}
    <a href="{{ image.src | relative_url }}" data-lightbox="roadtrip">
      <img src="{{ image.src | relative_url }}" alt="{{ image.alt }}"/>
    </a>
    <br>
  {% endfor %}
</div>
